.story-normal {
    border-top: 3px solid #D100C3;
    border-left:3px solid #FF2B45;
    border-right:3px solid #FF2B45;
    border-bottom:3px solid #ff5900;
}


.story-melhores-amigos {
    border: 3px solid #19BD48 ;
}